<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NotePal</title>

        <!--Materialize Compiled and minified CSS Link-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="views/css/style.css">
        <link rel="stylesheet" href="views/css/reset.css">
</head>
<body>
    <div class="row whole-page-div">
        <div class="col s12 blank-space-1"></div>
        
        <div class="row 12">
                <div class="col s4"></div>
                <div class="col s4 jumbotron-title-div-and-header animation1">
                    <h1 class="heading-text" id="heading">NotePal</h1>
                    <p>An online note logging app</p>
                    <hr>
                    <a href="/NoteTaker/notes"><button class="btn btn-secondary">Get Started</button></a>
                </div>
                <div class="col s4"></div>
        </div>
        <div class="col s12 blank-space-1"></div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>